*.pyc\n__pycache__/\n.env\n*.db\n*.sqlite3\n*.sqlite\n*.swp\n*.log\n*.egg-info\n*.env\n*.coverage\n/venv\n*.mp3\n*.mp4\n*.wav\n*.zip\n*.py[cod]\n__pycache__\n*.so\n*.DS_Store\n*.pid\n*.tmp\n*.bak\n*.rej\n*.py[cod]\nenv/\nbuild\nvenv/\ntmp\n*.sublime-project\n*.sublime-workspace\n*.idea\n.gradle\n/out\n/local.properties\n/.classpath\n/.settings\n/.vscode\n/mvn\n/.m2\n/npm\n/node_modules